#root,
body,
html {
    height: 100%;
}

/* Allows the tag Chips to wrap lines */
.MuiChip-label {
    white-space: normal !important;
}

/* The wrapping box around the input and icon for the datetime picker */
.time-picker .MuiInputBase-root.MuiInput-root.MuiInputBase-formControl.MuiInput-formControl.MuiInputBase-adornedEnd {
    margin-top: 0;
}

/* The calendar icon for the datetime picker */
.time-picker
    .MuiInputBase-root.MuiInputBase-formControl.MuiInputBase-adornedEnd
    .MuiInputAdornment-root.MuiInputAdornment-positionEnd
    .MuiButtonBase-root.MuiIconButton-root {
    position: absolute;
    left: 0;
}

/* The label for the datetime picker */
.time-picker.MuiFormControl-root.MuiTextField-root .MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl {
    margin-left: 48px;
}

/* The input box for the datetime picker */
.time-picker.MuiFormControl-root.MuiTextField-root .MuiInputBase-input.MuiInput-input.MuiInputBase-inputAdornedEnd {
    margin-left: 48px;
    /* margin-top: 8px; */
    margin-top: 12px;
    min-width: calc(100% - 48px);
}
